.login-button {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu-list li {
  padding: 10px;
}

.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-bar {
  position: absolute;
  right: 100px;
}

.search-bar input {
  border-width: 0 0 1px;
  padding: 5px;
}

.product-img {
  width: 100%;
}
.product-img-container:hover {
  transform: scale(1.1);
}

.detail-product-img {
  display: flex;
  justify-content: flex-end;
}

.add-btn {
  width: 100%;
  border: none;
  background-color: black;
  color: white;
}

.logo {
  cursor: pointer;
}
.header {
  padding: 20px;
}

.header-left {
  visibility: hidden;
}

.logo-container {
  width: 30px;
  display: flex;
  align-items: center;
}

.logo-mobile {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .menu-area {
    display: none;
  }
  .header-left {
    visibility: visible;
    display: flex;
  }
  .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.side-menu {
  position: absolute;
  height: 100vh;
  left: 0;
  background-color: white;
  transition: all 1s;
  z-index: 20;
}

li {
  list-style: none;
}

ul {
  padding: 0px;
}

.side-menu-list {
  padding: 60px 15px;
}

.side-menu-item {
  width: 200px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.close-menu {
  padding: 10px;
  position: absolute;
  right: 10px;
}

.close {
  left: -250px;
}

.show {
  left: 0;
}
